
{# 定义一个macro, 在另一个模板引入该文件后, 可以使用该macro #}

{% macro select(attrs, values=[]) %}
<select {%- for name, value in attrs%} {{name}}="{{value}}" {%- endfor %}> {# for key,value in ... 用于遍历一个对象(Dict) #}
    {% for val in values %}
    <option value="{{val.id}}">{{val.text}}</option>
    {% endfor %}
</select>
{% endmacro %}