<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{title}}</title>
</head>
<body>
<div id="wrapper">
    <ul class="names">
        {% for name in names %}
        <li>{{name}}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
