body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.q-drawer--mini {
  .q-item {
    justify-content: left !important;
  }
}

.card-md {
  width: calc(100% / 3);
}
