div.main p {
  font-size: 30pt;
  font-weight: bold;
  color: #081082;
}

.form .textarea {
  width: 380px;
  margin-top: 5px;
}

.form .waiting {
  color: #c40909;
  margin-left: 10px;
  animation: blink 1s infinite;
}

@keyframes blink{
  to {
    color: transparent;
  }
}

.form .waiting.stop {
  animation-play-state: paused;
  display: none;
}
