@charset "UTF-8";

@import "~bootstrap/dist/css/bootstrap.css";
@import "~formvalidation/dist/css/formvalidation.css";

pre {
    &.error-stack {
        font-size: 12px;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        color: #7f8992;
    }
}

small {
    &.help-block {
        color: #c82333;
    }
}