[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
skip-external-locking

init_connect = 'SET NAMES utf8mb4'
collation-server = utf8mb4_unicode_ci

character-set-server = utf8mb4
character-set-client-handshake = FALSE

bind-address = 0.0.0.0
port = 3306

general_log = ON
general_log_file = /var/log/mysql/mysqld.log

slow_query_log = ON
long_query_time = 10.000000
slow_query_log_file = /var/log/mysql/mysql_slow_query.log

thread_handling = pool-of-threads # 启动线程池
default_time_zone = +00:00

net_read_timeout = 28800
net_write_timeout = 28800

default_authentication_plugin = mysql_native_password # 使用本地密码方式登录
