<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ message }}</title>

    <link rel="stylesheet" type="text/css" href="{{ assets.css('vendor.css') }}">
</head>

<body role="document">
<div class="container" role="main">
    <div class="py-3">
        <strong>Error: {{ message }}</strong>
    </div>
    {% if error %}
        <pre class="error-stack">{{ error.stack }}</pre>
    {% endif %}
</div>
</body>
</html>