{% macro navbar(menus) %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Express</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content"
                aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-supported-content">
            <ul class="navbar-nav mr-auto">
                {% for item in menus %}
                    <li class="nav-item {% if item.active %} active {% endif %}">
                        <a class="nav-link" href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                {% endfor %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown">
                        <li class="dropdown-item"><a href="#">Readme</a></li>
                        <li class="dropdown-divider" role="separator"></li>
                        <li class="dropdown-header">Alvin&copy; Homework</li>
                        <li class="dropdown-item"><a href="#">Author</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endmacro %}