include template/components
extends template/layout

block title
   title Template

block script
   script(src='jquery-ui.js')
   script.
      alert('Hello');
block head
   meta(http-equiv='content-type' content='text/html; charset=utf-8')

block body
   #content Hello World
   +userList(users)