{% extends '../layout.html' %}

{% block title %}Express{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{{ assets.js('home.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Hello</h1>
{% endblock %}