<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="global.css" />
  <script src="global.js"></script>
  {% block header %} {% endblock %}
</head>

<body>
  <div id="wrapper">{% block content %} {% endblock %}</div>
</body>
{% block script %} {% endblock %}

</html>
